
@model IEnumerable<GeoDataReporting.Models.ActivityTrackingLog>
@{
    ViewBag.Title = "ViewConfigLog";
}

<script src="~/Scripts/jquery-1.7.1.js"></script>
<script>
    $(function () {
        $("#example1").DataTable({
          

        });
    });
</script>
<div class="box box-primary">
        <div class="box-body">

            <table id="example1" class="table table-bordered table-striped" style=" table-layout: fixed;border:1px solid #808080;">
                <thead>
                    <tr>
                        <th class="datatable-nosort">activity</th>
                        <th class="datatable-nosort">UserKey</th>
                        <th class="datatable-nosort">Client Host</th>
                        <th class="datatable-nosort">Page Url</th>
                         <th class="datatable-nosort">Query String</th>
                        <th class="datatable-nosort">Time</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                       
                        <tr>

                            <td style="width:39%;">
                               @Html.DisplayFor(mbox=>item.Activity)
                            </td>
                            <td>
                                  @Html.DisplayFor(mbox=>item.UserKey)
                            </td>
                            <td>
                                  @Html.DisplayFor(mbox=>item.ClientHost)
                            </td>
                           
                          <td>
                                  @Html.DisplayFor(mbox=>item.PageUrl)
                            </td>
                            <td>
                                  @Html.DisplayFor(mbox=>item.QueryString)
                            </td>
                            <td>
                                  @Html.DisplayFor(mbox=>item.TimeUtc)
                            </td>
                         
                        </tr>
                    }
                  
                </tbody>
               
            </table>
            
        </div>
    </div>
<style>
    .content-wrapper {
    margin: 0 auto;
  max-width: 100%;
}
   td, tr {
        border:1px solid #808080;
    }
</style>