@model GeoDataReporting.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

@*<hgroup class="title text-center">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@

<section id="loginForm" style="">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Use mSeller iPad Admin account to log in.</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe) Remember me
                            </label><input type="submit" class="btn pull-right" value="Log in" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                @Html.ValidationSummary(true)
            </div>
        </div>
    }
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
